@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-blue-faded: #a6d6ff;
  --accent-blue-strong: #1890ff;
  --accent-blue-transparent: rgba(24, 144, 255, 0.25);

  --accent-coral-faded: #ff9e9e;
  --accent-coral-strong: #ff6b6d;
  --accent-coral-transparent: rgba(255, 107, 109, 0.25);

  --accent-green-faded: #b9fbc0;
  --accent-green-strong: #4CAF50;
  --accent-green-transparent: rgba(76, 175, 80, 0.25);

  --accent-orange-faded: #ffcc99;
  --accent-orange-strong: #ffaa40;
  --accent-orange-transparent: rgba(255, 170, 64, 0.25);

  --accent-pink-faded: #f4a4b6;
  --accent-pink-strong: #ff66b2;
  --accent-pink-transparent: rgba(255, 102, 178, 0.25);

  --accent-purple-faded: #d7a9f5;
  --accent-purple-strong: #9b51e0;
  --accent-purple-transparent: rgba(155, 81, 224, 0.25);

  --accent-red-faded: #ff9f9f;
  --accent-red-strong: #ff4d4f;
  --accent-red-transparent: rgba(255, 77, 79, 0.25);

  --accent-teal-faded: #a0e3e3;
  --accent-teal-strong: #09aa98;
  --accent-teal-transparent: rgba(9, 170, 152, 0.25);

  --accent-yellow-faded: #fff2b2;
  --accent-yellow-strong: #edb105;
  --accent-yellow-transparent: rgba(237, 177, 5, 0.25);

  --alert-error: hsl(359, 100%, 65%);
  --alert-error-strong: hsl(359, 100%, 55%);
  --alert-success: hsl(100, 77%, 44%);
  --alert-success-strong: hsl(100, 77%, 34%);
  --alert-warning: hsl(33, 100%, 63%);
  --alert-warning-strong: hsl(33, 100%, 53%);

  --background-primary: #0052CC;
  --background-quaternary: #ffffff;
  /* --background-quaternary: hsl(214, 20%, 93%); */
  --background-secondary: hsl(220, 20%, 95%);
  --background-tertiary: hsl(207, 22%, 90%);
  --background-transparent-one: rgba(19, 23, 27, 0.08);
  --background-transparent-two: rgba(19, 23, 27, 0.03);
  --background-transparent-dark: rgba(19, 23, 27, 0.6);


  --brand-black: #0052CC;
  --brand-blue-primary: #3182ed;
  --brand-blue-secondary: #0f55b2;
  --brand-blue-tertiary: #D0E2FB;
  --brand-blue-quaternary: #2f80ed;
  --brand-blue-muted: #E3EEFD;
  --brand-white: #ffffff;
  --brand-yellow-muted: #FFFBF0;
  --brand-yellow-primary: #ffc107;
  --brand-yellow-quaternary: hsl(45, 100%, 20%);
  --brand-yellow-secondary: #dba400;
  --brand-yellow-tertiary: #ffc107;
  --brand-yellow-transparent: rgba(255, 193, 7, 0.08);

  --border-strong: #9dadbd;
  --border-subtle: #ced6de;
  --border-transparent: rgba(19, 23, 27, 0.1);

  --text-primary: #04162F;
  --text-secondary: #3a4755;
  --text-tertiary: #576a80;
  --text-white: #ffffff;

  --shadow-outline: 0 0 0 2px #3182ed;
}

.logo-dark {
  display: none
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #0052CC;
    /* base */
    --background-secondary: #303a46;
    /* base secondary */
    --background-tertiary: #3a4755;
    /* layer */
    --background-quaternary: #212830;
    --background-accent: #323D49;
    /* layer secondary */
    --background-transparent-one: rgba(19, 23, 27, 0.2);
    --background-transparent-two: rgba(19, 23, 27, 0.1);

    --brand-black: #171C21;
    --brand-blue-quaternary: #8AB7F5;
    --brand-blue-primary: #2f80ed;
    --brand-blue-muted: #04162F;
    --brand-blue-secondary: #0f55b2;
    --brand-blue-tertiary: #06244C;
    --brand-white: #ffffff;
    --brand-yellow-muted: #332600;
    --brand-yellow-primary: #ffc107;
    --brand-yellow-quaternary: hsl(45, 100%, 92%);
    --brand-yellow-secondary: #dba400;
    --brand-yellow-tertiary: #ffd966;

    --border-strong: #576a80;
    --border-subtle: #36424f;
    --border-transparent: rgba(255, 255, 255, 0.1);

    --text-primary: #f0f4f8;
    --text-secondary: #bcc6d1;
    --text-tertiary: #a0a9b3;
    --text-white: #ffffff;

    --shadow-outline: 0 0 0 2px #2f80ed;
  }

  .logo-dark {
    display: block
  }

  .logo-light {
    display: none
  }
}

.only-on-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .only-on-dark {
    display: block;
  }

  .only-on-light {
    display: none;
  }
}

.react-flow {
  overscroll-behavior-x: none !important;
  touch-action: none !important;
}

.navbar {
  @apply h-16;
}

.chakra-toast__inner {
  @apply !min-w-40 !m-0;
}

.chakra-toast {
  @apply !h-14;
}

.website-content {
  height: calc(100vh - 64px);
}

.website-content::-webkit-scrollbar {
  display: none;
}

.gradient-text {
  background: linear-gradient(to right, #f7ca48, #a0d6ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-container {
  background: linear-gradient(to right, #f7ca48, #a0d6ff);
}

.app-container {
  height: calc(100vh - 20px);
}

.left-shadow {
  box-shadow:
    -10px 0 15px -3px rgba(0, 0, 0, 0.1),
    -4px 0 6px -2px rgba(0, 0, 0, 0.1);
}

.chakra-menu__group {
  padding: 0.375rem;
}

input:-internal-autofill-selected {
  background-color: inherit;
}

input:autofill {
  transition-property: background-color, color;
  transition-delay: 86400s;
  background-image: none !important;
}

.container {
  overflow: hidden;
  /* Ensures that content overflow is hidden */
  max-height: 0;
  /* Start with max-height of 0 */
  transition: max-height 0.2s ease-out;
  /* Smooth height transition */
}

/* Use a class to set max-height to a value big enough to fit the content */
.container.open {
  max-height: 60px;
  /* Set to a value that fits the content */
}

.react-flow__background circle {
  fill: var(--border-strong)
}

.chakra-tooltip__arrow {
  background-color: var(--brand-black) !important;
}

.entity-field-name,
.entity-name {
  field-sizing: content
}

.entity-node:hover .node-handle {
  opacity: 1
}

tr:hover {
  background-color: var(--background-secondary);
}

tr:focus-within {
  background-color: var(--brand-yellow-muted);
}

.react-flow__edge-textwrapper .react-flow__edge-textbg {
  fill: var(--background-tertiary);
  border: solid 1px var(--border-strong)
}

.react-flow__edge-text {
  fill: var(--text-primary);
}

.react-flow__edge.updating .react-flow__edge-path {
  stroke: var(--brand-yellow-primary) !important;
}

.react-flow__minimap-node {
  fill: var(--background-quaternary)
}

.entity:has([data-content-menu="open"]) {
  border: solid 2px var(--brand-yellow-primary) !important;
}

.react-flow__minimap-mask {
  fill: var(--background-tertiary);
}

div.react-flow__nodesselection-rect,
.react-flow__selection.react-flow__container {
  background-color: var(--brand-yellow-transparent);
  border-color: var(--brand-yellow-primary);
}

.react-flow__pane,
div.react-flow__pane.selection {
  cursor: default;
}


.active-workspace::before {
  content: "";
  position: absolute;
  width: 44px;
  top: -6px;
  left: -6px;
  height: 44px;
  background: var(--background-primary);
  border-radius: 12px;
}